@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="HomeController" class="main-content">
    <div class="fusion-row">
        <div class="main-data">
            <h1>Developpeur web freelance</h1>
            <br />
            <img src="~/Content/Img/LogoHome.png" width="100%" />
            <br />
            <p class="paragraph" id="homepresentation">
                Vous cherchez un <strong>développeur freelance</strong> ? Je vous propose mes services pour vous accompagné
                au mieux dans l'accomplissement de vos projets. Avec mes années d'experiences j'ai acquis un bagage technique
                conséquent. Je vous propose mes services de développeur, d'intégrateur et de consultant pour l'architecture
                technique de vos projet. N'hésitez pas a me contacter.
            </p>
            <h1>Qu'est ce qu'un développeur web Freelance</h1>
            <p class="paragraph">
                Le développeur web est un informaticien qui a pour mission de réaliser de A à Z un site internet.
                Pour cela il doit trouver les moyens techniques de mettre les différentes pages « en ligne » via
                le « front office » (partie visible). De plus, et parce qu’il faut bien faire vivre ce site à travers
                du texte, des photos, de la vidéo, des animations, le développeur doit également créer une interface
                simple à utiliser et qui permettra à l’administrateur d’alimenter en contenu son site.                
            </p>
            <p class="paragraph">
                Le terme freelance est un anglicisme très pratique qui ne fait que désigner une réalité universelle :
                le travailleur indépendant. Un freelance est donc une personne qui travaille à son propre compte pour
                différents clients. Certains freelances sont auto-entrepreneurs, d’autres sont en entreprise individuelle
                sous le régime « normal », d’autres créent même une société. Mais tous offrent la même chose :
                la possibilité, pour une entreprise, d’externaliser certaines tâches en les confiant à un unique 
                professionnel extérieur.
            </p>
        </div>
        <div class="sub-data">

        </div>
    </div>
</div>